@font-face {
    font-family: "RecursiveMono";
    src: url("fonts/Recursive_VF_1.084.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: black;
    --foreground: white;
    --border: 1px;

    --max-speakers: 1;
    --update-frequency: .3s;
    --largeur-base: 500px;
}

html {
    font-family: "RecursiveMono", monospace;
    font-size: 16px;
    background: var(--background);
    color: var(--foreground);
    padding: 50px 1em;
    height: 93vh;
    max-width: 98%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
    overflow: hidden;
    width: 100%;
    /* max-width: var(--largeur-base); */
}

body.mobile {
    max-width: var(--largeur-base);
}

#toggle-display {
    position: fixed;
    top: 2em;
    left: 2em;
    padding: .2em .6em;
}

#graph {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    gap: 6px;

    flex: 0 1 90%;
    padding: 0 6px;
    border-left: solid white var(--border);
    border-bottom: solid white var(--border);
    position: relative;
    max-width: 100%;
}

section .wrapper {
	flex: 1 1 auto;
	display: none;
	grid-template-rows: 1fr 1rem;
}

.barre {
    transform: translateY(1rem);
    height: 0%;
    background: hsl(var(--local-color), 100%, var(--local-lum));
    align-self: end;
    width: 100%;

	will-change: opacity, height, background;

    transition: height linear var(--update-frequency),
        background linear var(--update-frequency),
        opacity linear var(--update-frequency);

}

.wrapper-infos {
    position: absolute;
    top: 1em;
}

.bordures {
    text-align: justify;
    position: absolute;
    bottom: -0.5em;
    width: 100%;
    border-left: solid white var(--border);
    border-right: solid white var(--border);
}

.bordures::before {
    content: " ";
    color: transparent;
    display: inline-block;
    width: 100%;
}

.name {
    text-align: center;
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 4);
    position: relative;
    top: -1em;
    line-height: 0.8;
    color: hsl(var(--local-color), 100%, var(--local-lum));
    font-weight: normal;
    /*
    transition: color linear 1s,
        font-weight linear 1s;
	*/
}

.time,
.pourcent {
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 4);
    position: relative;
    color: var(--background);
    padding-left: 1em;
}

.pourcent {
    font-variation-settings: "slnt" -15;
}

.vertical .name {
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 2.5);
    line-height: 0.55;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateY(90%);
    max-width: 100%;
    padding-right: calc(50% - .4em);
}

.speaking {
    font-weight: bold;
}

.speaking::before {
    content: "→ ";
}

.vertical .speaking {
    top: -60px;
}

.vertical .speaking::before {
    position: absolute;
    top: -1em;
}


/* MOBILE TOGGLED */
.mobile .name {
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 8);
}

.mobile .vertical .name {
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 2.5);
    padding-right: calc(50% - 0.35em);
}

.mobile .time,
.mobile .pourcent {
    font-size: calc(var(--largeur-base) / var(--max-speakers) / 7);
}


@media screen and (max-width: 640px) {
    :root {
        --largeur-base: 100vw;
    }

    html {
        padding: 1rem 0;
    }

    body {
        margin: 0 1rem;
    }

    .vertical .name {
        font-size: calc(var(--largeur-base) / var(--max-speakers) / 3);
    }

}

@media screen and (max-width: 480px) {
    .time,
    .pourcent {
        display: none;
    }

    .vertical {
        font-size: .8em;
    }

}
